.btn {
	margin: auto;
	border-radius: 0.3rem;
	background-color: #fff;
}

.btn:hover {
	background-color: #ccc;
}

.btn-container {
	position:
	display: flex;
	justify-content: center;
}

.jump-btn {
	margin-top: 3rem;
}

.jump:hover {
	color: #f4f4f4;
	background: #000;
}

.gallery-list {
	width: 100%;
	height: 100%;
	padding: 10rem 0;
}

/** ADD YOUR AWESOME CODES HERE **/
