.btn {
	margin: auto;
	border-radius: 0.3rem;
	background-color: #fff;
}

.btn:hover {
	background-color: #ccc;
}

.btn-container {
	display: flex;
	justify-content: center;
}

.jump-btn {
	transition: cubic-bezier(1, 0, 0, 1);
	margin-top: 3rem;
}

.jump:hover {
	color: #f4f4f4;
	background: #000;
}

/** ADD YOUR AWESOME CODES HERE **/
