/* Google Font - Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

/* Set-up */
:root {
  --primary: rgba(0, 0, 0, 0.4); 
  --secondary: #9cc1d8; 
  --light: #FFF;
  --dark: #000000;
  --extra: #256d8b;
}

html {
  font-family: "Asper", sans-serif;
  color: var(--light);
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../img/fuji.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-page {
  background: var(--primary);
  width: 100%;
  height: 100%;
  padding: 0;
}


/* Nav Bar */
.header {
  background: var(--dark);
}

.nav {
  position: fixed; 
  width: 100%;
  height: 40px;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 40px;
  background: var(--dark);
  z-index: 2;
}

.nav a {
  color: var(--light);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
}

.show-nav-btn,.hide-nav-btn {
  padding: 10px 0 10px 0;
  transition: 0.4s;
  font-size: 20px;
  cursor: pointer;
  display: none;
  color: var(--secondary);
}

.show-nav-btn {
  float: right;
}

.show-nav-btn i {
  line-height: 10px;
}

.nav a:hover,
.show-nav-btn:hover,
.hide-nav-btn:hover {
  color: var(--extra);
  transition: .3s ease;
}
  
#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}


/* Content */
#welcome {
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 50px;
  margin: 0;
  padding: 0;
  color: var(--light);
}

#welcome h1 {
  text-align: center;
  margin-top: 5%;
  font-family: "Asper", cursive;
  font-weight: 300;
  padding: 10px;

  animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  -moz-animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; } 
}

h1 {
  font-size: 35px;
}

/*
#arrow {
  display: absolute;
  color: var(--light);
  padding: 5px 0 10px 0;
  width: 20px;
  height: 20px;
  margin-left: 45%;
  margin-right: 45%;
  
}


 name duration timing-function delay iteration-count direction fill-mode; 




*/

/* Projects */
#proj {
  background-image: url("https://images.pexels.com/photos/566345/pexels-photo-566345.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  

  /* Appear Animation */
  animation: 2s appear;
  -webkit-animation: 2s appear;
  -moz-animation: 2s appear;
  -o-animation: 2s appear;
}

#proj2 {
  background-image: url("https://images.pexels.com/photos/1005638/pexels-photo-1005638.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  /* Appear Animation */
  animation: 2.5s appear;
  -webkit-animation: 2s appear;
  -moz-animation: 2s appear;
  -o-animation: 2s appear;
}

#proj3 {
  background-image: url("https://miro.medium.com/max/2625/1*KSeJJRczg0M3W_SFCw034Q.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  /* Appear Animation */
  animation: 3s appear;
  -webkit-animation: 2s appear;
  -moz-animation: 2s appear;
  -o-animation: 2s appear;
}

  

#proj4 {
  background-image: url("https://miro.medium.com/max/2625/1*dhvBPeb6bYqQU_KqlaboDQ.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  /* Appear Animation */
  animation: 3.5s appear;
  -webkit-animation: 2s appear;
  -moz-animation: 2s appear;
  -o-animation: 2s appear;
}

#proj5 {
  background-image: url("https://miro.medium.com/max/2625/1*dhvBPeb6bYqQU_KqlaboDQ.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  /* Appear Animation */
  animation: 3.5s appear;
  -webkit-animation: 2s appear;
  -moz-animation: 2s appear;
  -o-animation: 2s appear;
}

#proj6 {
  background-image: url("https://miro.medium.com/max/2625/1*dhvBPeb6bYqQU_KqlaboDQ.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  /* Appear Animation */
  animation: 3.5s appear;
  -webkit-animation: 2s appear;
  -moz-animation: 2s appear;
  -o-animation: 2s appear;
}


/* Project Style */
.projects {
  padding: 0;
  display: relative;
  margin-left: 10%;
  
  
}

.projects a {
  list-style: none;
  text-decoration: none;
}

.projects .box {
  display: inline-block;
  background: var(--light);
  width: 200px;
  height: 200px;
  overflow: hidden;
  

}

.projects .box .hoverBox {
  background: var(--primary);
  position: relative;
  left: -100%;
  height: 100%;
  position: 100%;
}

.projects .box:hover .hoverBox {
  left: 0;
  transition: all 0.3s linear;
}

.projects .box .hoverBox h3 {
  color: var(--light);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 1px;
  list-style: none;
  text-decoration: none;
}

.projects .box .hoverBox h4 {
  color: var(--light);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  top: 0;
}

.projects .box .hoverBox h5 {
  color: var(--light);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin: 30%;
  bottom: 10px;
}

/* Description for each Project */
.description {
  text-align: justify;
  text-indent: 3%;
  width: 40%;
  height: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.description p {
  font-size: 15px;
  color: var(--light);
}

/* About Me */


#about-me {
  padding: 10px 10px;
}


#about-me h1, h2 {
  text-align: center;
}

#about-me p {
  text-indent: 10px;
  padding: 10px;
}


/* About Me Skills Section */
.skills {
  display: absolute;
  padding: 0 10px;
  margin: auto;
}

.skills ol {
  left: 40%;
  height: 100%;
  text-align: center;
  padding: 0 10px;
}

.skills ol li {
  list-style: none;
  height: 100%;
}

.skills ol p {
  border: 1px solid transparent;
  border-radius: 10px;
  background: var(--extra);
}


/* Contact */
#contact {
  display: flex;
  font-size: 13px;
  margin-top: 20px;
  padding: 10px;
}

/* Name, Email, and Phone Number */
.contact-info {
  width: 50%;
  height: 100%;
  text-decoration: none;
  color: var(--light);
  background: var(--primary);

}

section {
  border: .1px solid transparent

}

.contact-info li {
  list-style: none;
}

/* Name, Email, and Message */
.contact-form {
  display: block;
  width: 50%;
  height: 100%;
  background: var(--primary);
  padding: 10px 10px;
  margin: auto;
  /*
  width: 50%;
  height: 100%;
  padding: 13px 10px;
  
  margin-left: 50%;
  background: var(--primary);
  */
}

.contact-form .form {
  color: var(--light);
}

.form {
  display: flex;
  flex-direction: column;
  color: var(--light);
}

.address li:first-child, .number li:first-child, .email li:first-child, .social li:first-child {
  padding: 10px 0;
}
.social li a {
  color: var(--light);
  text-transform: uppercase;
  text-decoration: none;
}

.social li a:hover {
  color: var(--extra);
}

.sub-button {
  width: 60px;
  height: 30px;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

/* Footer */
footer {
  font-size: 7px;
  text-align: center;
  color: var(--light);
  padding: 10px 10px;
}



/* Media Queries */
@media screen and (max-width:500px) {
    .show-nav-btn,.hide-nav-btn{
      display: block;
    }

  .nav {
    position: fixed;
    width: 40%;
    height: 30vh;
    background: var(--primary);
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }

  .nav a {
    display: block;
    padding: 10px 10px;
  }

  .show-nav-btn i {
    top: 0;
    right: 0;
    padding: 0 10px;
  }

  .hide-nav-btn {
    position: absolute;
    top: 0;
    left: 70px;
    padding: 20px;
  }

  .hide-nav-btn:hover {
    background: var(--dark);
  }

  #chk:checked ~ .nav {
    right: 0;
  }

  #welcome {
    margin: 0;
    padding: 0 10px;
  }

  #welcome h1 {
    margin-top: 10%;
    margin: 0;
    padding: 5px;
    text-align: center;
  }

  .projects {
    padding: 10px;
    display: inline-block;
    text-align: center;
    margin: auto;
    
  }
  #contact {
    padding: 10px 0 0 0;
    margin: 0;
  }

  .contact-info {
    display: block;
    padding: 10px;
    width: 400px;
    height: 100%;
    text-decoration: none;
    color: var(--light);
    background: var(--primary);
  }

  .contact-info section ul li {
    text-align: left;
    line-height: 5px;
  }

  .social li a {
    color: var(--light);
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px;
    text-align: center;
  }

  .contact-form {
    display: inline-block;
    width: 400px;
    height: 100%;
    background: var(--primary);
  }
  
}

@media screen and (max-width:768px) {
  .show-nav-btn,.hide-nav-btn {
    display: block;
  }

.nav {
  position: fixed;
  width: 40%;
  height: 30vh;
  background: var(--primary);
  right: -100%;
  top: 0;
  text-align: center;
  padding: 80px 0;
  line-height: normal;
  transition: 0.7s;
}

.nav a {
  display: block;
  padding: 10px 10px;
}

.show-nav-btn i {
  top: 0;
  right: 0;
  padding: 0 10px;
}

.hide-nav-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px;
}

.hide-nav-btn:hover {
  background: var(--dark);
}

#chk:checked ~ .nav {
  right: 0;
}

#welcome {
  border: 1px solid transparent;
  margin: 0;
  padding: 5px 10px;
}

#welcome h1 {
  margin-top: 10%;
  margin: 0;
  padding: 5px;
}

.projects {
  padding: 10px;
  display: inline-block;
  text-align: center;
  margin-right: 3%;
  
}

.contact-info {
  display: block;
  width: 400px;
  height: 100%;

  margin-right: 5%;
  text-decoration: none;
  color: var(--light);
  background: var(--primary);
}

.contact-info section ul li {
  text-align: left;
  line-height: 5px;
}

.social li a {
  color: var(--light);
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px;
  text-align: center;
}


}

@media screen and (min-width:800px) {

  #contact {
    top: 20px;
  }

  .contact-info {
    margin-right: 10%;
  }
  
  .contact-form {
    margin-left: 10%;
    padding: 15px 10px;
    height: 280px;
    
  }
  
}
