@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

:root {
    --main: #9cc1d8;
    --light: #FFF;
    --dark: #000000;
    --extra: #266681;
}

html {
  background: var(--main);
  background-image: linear-gradient(#7eb5ba 90%, #349ae7 90%, #1f6ea7 90%,#566e85 90%, #161d3c 90%, #9bb49e 40%);
}

body {
  font-family: "Roboto", sans-serif;
}

.page-wrapper > .background {
  position: relative;
  width: 100%;
  height: 70%;
  background-image: url("../img/fuji.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
  z-index: -1;
}

.main-page {
  border: 2px solid transparent;
  border-radius: 10px;
  background: var(--light);
  width: 80%;
  height: 90%;
  margin: auto;
}


/* Nav Bar */
.header {
  height: 100px;
  background: #1f6ea7;
  padding: 0 10px;
}

.nav {
  right: 0;
  text-align: center;
  line-height: 40px;
  background: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 10px;
}

.nav a {
  color: var(--light);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
}

.show-nav-btn,.hide-nav-btn {
  transition: 0.4s;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.show-nav-btn {
  float: right;
}

.show-nav-btn i {
  line-height: 100px;
}

.nav a:hover,
.show-nav-btn:hover,
.hide-nav-btn:hover {
  color: var(--main);
  transition: 1s ease;
}
  
#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/* Content */
.welcome {
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.welcome h1 {
  text-align: center;
  font-family: "Roboto", cursive;
  font-weight: 300;
}

h1 {
  font-size: 35px;
}

h3 {
  font-size: 10px;
  line-height: 10px;
}

#arrow {
  color: #1f6ea7;
  padding: 1px 5px 5px 1px;
  animation: bounce infinite 2s linear ease-in-out;

/* name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes bounce {
  0% { left: 0px;

  }

  50% { left: 3px;

  }

  100% { left: 0px;

  }

}


/* Projects */
.projects {
  padding: 0;
  text-align: center;
}

.projects .box {
  display: inline-block;
  background: var(--extra);
  border: 1px solid transparent;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  padding: 10px 0 0 10px;
  overflow: hidden;
  cursor: pointer;
}

.projects .box .hoverBox {
  background-color: rgba(156, 193, 216 0.7);
  position: relative;
  left: -100%; 
  height: 50%;
  position: 100%;
  transition: all .3s ease;
  text-align: left;
  opacity: 0;
}
 /*  bottom: 0;*/
.projects .box .hoverBox h3 {
  color: var(--main);
  font-size: 24px;
  font-weight: bold;
}

.projects .box .hoverBox h5 {
  color: var(--extra);
  font-size: 15px;
  font-weight: bold;
}

.projects .box:hover .hoverBox:hover {
  opacity: 0.5;
  left: 0;
}

.description {
  width: 50%;
  height: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--main);
  border-radius: 5px;
}

.description p {
  font-size: 15px;

}

/* Contact */
.contact {
  display: flex;
}

/* Name, Email, and Phone Number */
.contact-info {
  display: block;
  width: 35%;
  text-decoration: none;
  border: 1px solid var(--light);
  border-radius: 10px;
  background: var(--light);
  text-align: center;
  margin: auto;
  box-shadow: #1f6ea7;
}

.contact-info li {
  list-style: none;
}

/* Name, Email, and Message */
.contact-form {
  display: block;
  width: 40%;
  margin: auto;
  text-decoration: none;
  border: 1px solid var(--light);
  border-radius: 10px;
  background: var(--light);
  text-align: center;
}

.social li {
    text-align: center;
}
.social li a {
  color: var(--light);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  text-align: center;
}

.social li a:hover {
  color: var(--main);
}


/* Footer */
footer {
  text-align: center;
}



/* Media Queries */
@media screen and (max-width:800px) {
    .show-nav-btn,.hide-nav-btn{
      display: block;
    }

  .nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }

  .nav a {
    display: block;
    padding: 20px;
  }

  .hide-nav-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }

  #chk:checked ~ .nav {
    right: 0;
  }
}
