/* Google Font - Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

/* Set-up */
:root {
  --primary: rgba(0, 0, 0, 0.4); 
  --secondary: #9cc1d8; 
  --light: #FFF;
  --dark: #000000;
  --extra: #256d8b;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../img/fuji.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.main-page {
  background: var(--primary);
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 0 0 10px 0;
  border: 1px solid transparent; 
  border-radius: 20px;
}


/* Nav Bar */
.header {
  height: 45px;
  background: transparent;
  padding: 0 10px;
}

.nav {
  right: 0;
  text-align: center;
  line-height: 40px;
  background: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 10px;
}

.nav a {
  color: var(--light);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
}

.show-nav-btn,.hide-nav-btn {
  padding: 10px 0 10px 0;
  transition: 0.4s;
  font-size: 20px;
  cursor: pointer;
  display: none;
  color: var(--secondary);
}

.show-nav-btn {
  float: right;
}

.show-nav-btn i {
  line-height: 100px;
}

.nav a:hover,
.show-nav-btn:hover,
.hide-nav-btn:hover {
  color: var(--secondary);
  transition: 1s ease;
}
  
#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}


/* Content */
.welcome {
  text-align: center;
  height: 80%;
  line-height: 0;
  margin: 0;
  padding: 0;
  color: var(--light);
/*  border: 1px solid var(--light);
  border-radius: 10px;
*/
}

.welcome h1 {
  text-align: center;
  margin-top: 5%;
  font-family: "Roboto", cursive;
  font-weight: 300;
  
}

h1 {
  font-size: 35px;
}

.welcome h3 {
  font-size: 15px;
  line-height: 10px;
}

#arrow {
  display: absolute;
  color: var(--light);
  padding: 5px 0 10px 0;
  width: 20px;
  height: 20px;
  margin-left: 45%;
  margin-right: 45%;
  animation-name: bounce;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}


/* name duration timing-function delay iteration-count direction fill-mode; */


@keyframes bounce {
  0% { 
    transform: translateY(0px);
  }

  25% { 
    transform: translateY(2.5px);
  }

  50% { 
    transform: translateY(5px);
  }

  75% { 
    transform: translateY(2.5px);
  }

  100% { 
    transform: translateY(0px);
  }

}


/* Projects */
#proj {
  background-image: url("https://images.pexels.com/photos/566345/pexels-photo-566345.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#proj2 {
  background-image: url("https://images.pexels.com/photos/1005638/pexels-photo-1005638.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#proj3 {
  background-image: url("https://miro.medium.com/max/2625/1*KSeJJRczg0M3W_SFCw034Q.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#proj4 {
  background-image: url("https://miro.medium.com/max/2625/1*dhvBPeb6bYqQU_KqlaboDQ.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Style and Animate Projects */
.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 50px;
}

.projects .box {
  display: inline-block;
  background: var(--light);
  width: 200px;
  height: 200px;
  overflow: hidden;

}

.projects .box .hoverBox {
  background: var(--primary);
  position: relative;
  left: -100%;
  height: 100%;
  position: 100%;
}

.projects .box:hover .hoverBox {
  left: 0;
  transition: all 0.3s linear;
}

.projects .box .hoverBox h3 {
  color: var(--light);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.projects .box .hoverBox h5 {
  color: var(--light);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: 30%;
}


/* Description for each Project */
.description {
  text-align: justify;
  text-indent: 3%;
  width: 40%;
  height: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.description p {
  font-size: 15px;
  color: var(--light);
}


/* Contact */
.contact {
  display: flex;
}

/* Name, Email, and Phone Number */
.contact-info {
  display: block;
  width: 300px;
  height: 300px;
  width: 45%;
  margin-top: 20px;
  margin-left: 5%;
  text-decoration: none;
  background: var(--extra);

}

section {
  border: .1px solid #f3f3f3;

}

.contact-info li {
  list-style: none;
}

/* Name, Email, and Message */
.contact-form {
  display: block;
  width: 400px;
  height: 100%;
  padding: 5px 20px;
  margin-top: 20px;
  background: var(--primary);
}

.contact-form .form {
  color: var(--light);
}

.form {
  display: flex;
  flex-direction: column;
}

.social li {

}
.social li a {
  color: var(--light);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  text-align: center;
}

.social li a:hover {
  color: var(--primary);
}

.sub-button {
  width: 60px;
  height: 50px;
  text-align: center;
  margin: auto;
  cursor: pointer;
}
/* Footer */
footer {
  text-align: center;
}



/* Media Queries */
@media screen and (max-width:800px) {
    .show-nav-btn,.hide-nav-btn{
      display: block;
    }

  .nav {
    position: fixed;
    width: 50%;
    height: 40vh;
    background: #000000;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }

  .nav a {
    display: block;
    padding: 20px;
  }

  .hide-nav-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }

  #chk:checked ~ .nav {
    right: 0;
  }

  .welcome h1 {
    margin-top: 10%;
  }
}
